{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% stylesheets
        '@AyalineComposerBundle/Resources/public/css/main.css'
        '@AyalineComposerBundle/Resources/public/css/ladda-themeless.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title 'Composer as a service' %}

{% block body %}
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/pborreli/composer-service">{{ "fork_me_on_github"|trans }}</a>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
        {% block content %}

        {% endblock %}
        </div> <!-- /container -->
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-center">
                <a href="https://twitter.com/composeraas">@composeraas</a> — shared with <span class="glyphicon glyphicon-heart"></span> by <a href="https://github.com/pborreli">Pascal Borreli</a> —
                <span class="glyphicon glyphicon-stats"></span> <a href="https://composeraas.borreli.com/">Status Page</a>
            </p>
        </div>
    </div>
    <script>
        var channel_auth_endpoint = "{{ path('lopi_pusher_bundle_auth') }}";
        var pusher_key = "{{ pusher_key }}";
    </script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//js.pusher.com/4.0/pusher.min.js"></script>
    {% javascripts
        '@AyalineComposerBundle/Resources/public/js/spin.js'
        '@AyalineComposerBundle/Resources/public/js/ladda.js'
        '@AyalineComposerBundle/Resources/public/js/ZeroClipboard.js'
        '@AyalineComposerBundle/Resources/public/js/main.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.debug %}
        <script>
            Pusher.log = function(message) {
                if (window.console && window.console.log) {
                    window.console.log(message);
                }
            };
        </script>
    {% endif %}
{% endblock %}
